.skip a{
    position: absolute;
    top: -60px;
	left: 10px;
    background-color: lightblue;
	padding: 10px 15px;
	border-radius: 5px;
	z-index: 2000;
	display: block;
	text-decoration: none;  
}
.skip a:focus{
    top: 10px;
	left: 10px;
    border: 2px solid black;
	background-color: lightyellow;

}
/*Add borders around the main components and some
space too*/
/* header, nav, main, footer{
	border: 3px solid black;
	margin: 10px 0;
} */

/* Step 1: Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
nav a:hover, nav a:focus{
    text-decoration-line: underline;
}

/* Step 3: Write selector/rule property to style all elements when in focus*/
:focus{
    border: 2px solid black;
}
/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	background-color: rgb(62, 128, 216);
	margin:1%; 
	font-size:125%; 
	line-height:2;
	
}

h1 h2 h3{
	margin-bottom:5px;
}

h1{
	font-size: 1.5em;
	display:block;
}

h2 {
    font-size: 125%; 
    margin-bottom: 8px;  
}


img{
	max-width: 100%; 
    height: auto;   
    display: block;  
    margin-left: auto; 
    margin-right: auto; 
}

*{
	/* display:grid; */
	text-align:center;
}

ol{
	list-style-position: inside;
	text-align: center;
	padding-left: 0;
	
}
ul{
	list-style-position: inside;
	text-align: center;
	padding-left: 0;
	
}


nav{
	width:100%;
	position:sticky;
	top: 0;
	z-index: 1000;
	padding: 0.5rem;
	background-color: rgb(62, 128, 216);
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	

}
nav a{
	color: rgb(234, 234, 236);
	text-decoration: none;
}
	
nav ul{
	display:flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	
}

/*Change the styling for all of the list 
items in the nav section*/
nav ul li{
	/* background-color: #ECFF4D; */
	text-decoration: none;
	padding:20px;
	
	/* border:1px solid black; */
	border: #a9c3dc 3.9px solid;
    border-radius: 35px;
	display: inline-block;
	width: auto;
	font-weight: bolder;
	
	/* align-content: space-between; */
	
}

.section-container{
	border: 2px solid #919fac; 
    padding: 20px; 
    border-radius: 20px; 
    margin: 20px 0; 
    background-color: lightblue; 
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
footer a{
	color:rgb(43, 24, 65);
	font-weight: bolder;
	text-decoration: none;
}

.error-page {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	flex-direction: column;
	font-family: 'Gill Sans', sans-serif;
}

.error-page h1{
	font-size: 15vw;
	font-weight:700px;
}

/* .section-title {
    text-align: center;
    margin-bottom: 15px; 
    font-size: 1.5em; 
} */


/* .container{
	display:grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: auto;
} */

@media screen and (min-width: 900px) {
	/* Step 11:
	Edit the css for the header tag (all instances) and the nav_links class to match our example using flex-properties. The logo should be as far to the left as possible and the links as far to the right as possible. Use flex properties, NOT position properties. */
		*{
			font-family: 'Muli', sans-serif;
		}

		header{
			display: flex;
			flex-direction: column-reverse;
			background-color: lightblue;
			padding:20px;
			border-radius: 25px;
			margin:auto;
			border: #a9c3dc 3.9px solid;
		}

		nav{
			border-radius: 25px;
			/* ASK ABOUT THIS */
			margin:-10px;
			border: #a9c3dc 3.9px solid;
		}

		.skip a{
			background-color: rgb(245, 245, 245);
		}

		.container{
			display:grid;
			grid-template-columns: 50vw 50vw;
			grid-template-rows: auto;
			gap: 3px;
			/* ASK ABOUT THISSSS */
			margin:-15px;
		
	   }
	   .section-container{
			margin:15px;
			padding:0px;
			text-align:center;
			overflow:auto;
			padding:10px;
	   }


		.first {
			
			grid-column:1/3;
		}
		.second{
			
			grid-column:2/3;
		}
		.img {
			grid-column:1/2;
			margin:15px;
			padding:0px;
			border: #a9c3dc 3.9px solid;
			border-radius:20px;
		}
		.img2 {
			grid-column:2/3;
			margin:15px;
			padding:0px;
			border: #a9c3dc 3.9px solid;
			border-radius:20px;
		}


		.adjust {
			height:100%;
			border-radius:20px;	
		}

		.third{
			
			grid-column:1/3;
		}
		.fourth{
			grid-column:1/2;
		}

		.first, .second, .third , .fourth, img{
			
			grid-row: auto;
		}


	/* Step 13: 
	Modify the first header (the one not inside main) so that it remains visible at the top of the screen even as we scroll down. Make sure that it is always visible. You can see an example of this in the video and in the screenshot at 1200px when scrolled. This is a challenge problem. You should not give or receive help when completing it.  */
	 body > header{
			position:sticky;
			top:0;
			z-index:1000;
	
		}
	
	}

	.error-page {
		display:flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		flex-direction: column;
		font-family: 'Gill Sans', sans-serif;
		margin:auto;
		padding:auto;
	}

	.error-page h1{
		font-size: 15vw;
		font-weight:700 !important;

	}
	.error-page h2 {
		font-size: 3vw;
		margin-top:20px;


	}
	
	.error-footer {
		margin-top:20px;
		padding-top:40px;
	}